body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;

    font-family: 'Gloock', serif;
    font-family: 'Kaushan Script', cursive;

    background-image: url('img3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment : fixed
    
}

#contenedor-principal {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

h1 {
	font-size: 48px;
	margin: 0;
	color: black;
}

p {
	font-size: 18px;
	margin: 0;
	color: black;
}

#info-pueblo {
	margin-bottom: 40px;
}

#info-pueblo h2 {
	font-size: 36px;
	color: black;
	margin-bottom: 20px;
}

#info-pueblo p {
	font-size: 20px;
	line-height: 1.5;
	color: black;
}

#galeria {
	margin-bottom: 40px;
}

#galeria h2 {
	font-size: 36px;
	color: black;
	margin-bottom: 20px;
}

#galeria img {
	max-width: 100%;
	margin-bottom: 20px;
}

    #historia {
        margin-bottom: 40px;
    }
    
    #historia h2 {
        font-size: 36px;
        color: black;
        margin-bottom: 20px;
    }
    
    #historia p {
        font-size: 20px;
        line-height: 1.5;
        color: black;
        margin-bottom: 20px;
    }


    
    img {
        display:flex;
        width: 600px;
        height: 430px;
        }
        img img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
        }
        img img:hover {
        cursor: crosshair;
        width: 300px;
        opacity: 1;
        filter: contrast(120%)
        }
    
    #historia img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    #gastronomia {
        margin-bottom: 40px;
    }
    
    #gastronomia h2 {
        font-size: 36px;
        color: black;
        margin-bottom: 20px;
    }
    
    #gastronomia p {
        font-size: 20px;
        line-height: 1.5;
        color: black;
        margin-bottom: 20px;
    }
    
    #gastronomia img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    #turismo {
        margin-bottom: 40px;
    }
    
    #turismo h2 {
        font-size: 36px;
        color: black;
        margin-bottom: 20px;
    }
    
    #turismo p {
        font-size: 20px;
        line-height: 1.5;
        color: black;
        margin-bottom: 20px;
    }
    
    #turismo img {
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    iframe {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    footer {
        background-color: #F8C471;
        color: black;
        padding: 15px;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: -10px;
        
    }
    footer img {
        width: 100px;
        height: auto;
        margin: 10px;
        
    }



    @media only screen and (max-width: 768px) {
        h1 {
            font-size: 36px;
        }
    
        #info-pueblo h2,
        #galeria h2,
        #historia h2,
        #gastronomia h2,
        #turismo h2 {
            font-size: 24px;
        }
    
        iframe {
            width: 100%;
            height: 200px;
        }
        
    }
    